#litepie input {
    line-height:normal;
    color: rgba(24, 24, 25, 0.9);;
    font-weight: 600;
    font-size: 13px;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    border:none;
    outline: none!important;
    background: #E6E9EE;
    box-shadow: 0px 10px 20px rgb(207 207 207 / 25%);
    padding-left: 40px;
    height: 44px;
}
#litepie .grid.grid-cols-7 .relative .bg-litepie-primary-500.text-white {
    border: 0;
    background: #EDF2F7;
    color: #2D3748!important;
    opacity: 1;
}
#litepie .grid.grid-cols-7 .relative .font-semibold.text-litepie-primary-500 {
    border: 0;
    background: #EDF2F7;
    color: #2D3748!important;
}.spkagree #litepie input{
    z-index: -1;
}
.absolute.z-50.top-full.sm\:mt-2\.5.left-0.right-auto, .absolute.z-50.top-full.sm\:mt-2\.5.left-auto.right-0 {
    left: auto!important;
    right: 0px!important;
    margin-top: 20px!important;
}
.litepie-datepicker.place-left::before {
    left: auto!important;
    right: 2rem;
    border: 0;
}
span.absolute.bg-litepie-primary-100.bg-opacity-60.dark\:bg-litepie-secondary-700.dark\:bg-opacity-50.inset-0{
    background: #edf2f7;
    color: #718096;
}
.daterangepicker{
    width: 272px;
    z-index: 2;
}
.daterangepicker.w-full {
    width: 100%!important;
}
.daterangepicker #litepie {

}
#litepie span.absolute.inset-y-0 {
    right: auto;
    left: 3px;
}
#litepie span.absolute.inset-y-0 svg {
    stroke: #595959;
}
.litepie-datepicker.static {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(207 207 207 / 25%);
    border-radius: 6px;
    border: 0;
    padding: 15px 15px 50px 15px;
}
.litepie-datepicker ol.grid.grid-cols-2 li a {
    font-size: 14px;
    font-weight: normal;
    color: #2D3748;
}
.litepie-datepicker ol.grid.grid-cols-2 {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
}

.litepie-datepicker ol.grid.grid-cols-2 li{
    width: 120px;
    margin-right:5px;
}
.sm\:w-80 {
    width: 16rem;
}
.litepie-datepicker .flex.flex-wrap .relative {
    border-color: #E2E8F0;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 {
    border: 0;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex-shrink-0 {
    position: absolute;
    left: auto;
    right: 0;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex-shrink-0:first-child {
    right: 35px;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex-shrink-0 button {
    padding: 0;
    border: 0;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex-shrink-0 button svg {
    width: 10px;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex.flex-1 {
    width: auto;
    display: inline-block;
    justify-content: flex-start;
    flex: auto;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex.flex-1 .flex-1.flex.rounded-md {
    flex: auto;
}
.litepie-datepicker .flex.flex-wrap .relative .dark\:border-litepie-secondary-700 .flex.flex-1 .flex-1.flex.rounded-md button{
    width: auto;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    color: #2D3748;
    text-transform: capitalize;
}
.litepie-datepicker .grid.grid-cols-7 span {
    font-weight: 400;
    font-size: 12px;
    color: #718096;
}   
.litepie-datepicker-date {
    font-weight: normal;
    font-size: 14px;
    color: #2D3748;
    width: 28px;
    height: 28px;
}
.litepie-datepicker-date.disabled\:cursor-not-allowed {
    opacity: 0;
}
.litepie-datepicker .py-1\.5.border-t.border-black.border-opacity-10.dark\:border-litepie-secondary-700 {
    border: 0px;
    padding: 0;
}
.litepie-datepicker .mt-1\.5.sm\:flex.sm\:flex-row-reverse {
    margin: 0px;
}
.away-apply-picker, .away-cancel-picker {
    background: #185DDC;
    border-radius: 6px;
    border: 0!important;
    padding: 9px 30px!important;
    line-height: normal!important;
    font-weight: 600;
    font-size: 14px;
    margin-left: 12px;
    display: none;
}
.away-cancel-picker {
    background: #EDF2F7;
    color: #2D3748;
}
.dashright #litepie input {
    background-color: #fff;
    box-shadow: none;
}

#litepie label span{
    display: none;
}
#litepie input{
    background-image: url(../assets/calendarnew.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px;
}
.litepie-shortcuts.active{
    background:#185DDC;
    color: white!important
}
.litepie-datepicker ol li:nth-child(13n) {
    position:absolute;
    right:-205%;
    bottom:-30px;
    width: 110px!important;


}

.litepie-datepicker ol li:nth-child(14n) {
    position:absolute;
    right:-155%;
    bottom:-30px;
    width: 110px!important;


}
.litepie-datepicker ol li:nth-child(14n) .litepie-shortcuts {
    background: #EDF2F7;
        border-radius: 6px;
    border: 0!important;
    padding: 9px 30px!important;
    line-height: normal!important;
    font-weight: 600!important;
    font-size: 14px;
    color: #2D3748!important;
    text-align:center;
}
.litepie-datepicker ol li:nth-child(13n) .litepie-shortcuts {  
    background: #185DDC;
    border-radius: 6px;
    border: 0!important;
    padding: 9px 30px!important;
    line-height: normal!important;
    font-weight: 600!important;
    font-size: 14px;
    color: white!important;
    text-align:center;

      }
  
#litepie input {
    pointer-events: none!important;
}
.addtaskform .daterangepicker{
    width: 272px;
    z-index: inherit!important;


}
.addtaskform .litepie-datepicker-date.disabled\:cursor-not-allowed{
    opacity: 0.2!important;
}
.addform #litepie input{
    box-shadow: none!important;
}

.viewspk #litepie input {
    box-shadow: none!important;
    border-radius: 8px!important;
    color:rgba(24, 24, 25, 0.9);

}
.virtual-datepic #litepie .absolute.z-50.top-full.sm\:mt-2\.5.left-0.right-auto, .absolute.z-50.top-full.sm\:mt-2\.5.left-auto.right-0{
    right: auto!important;
    left: 0px!important;
}
.virtual-datepic #litepie .litepie-datepicker.place-left::before{
    right: auto!important;
    left: 0.25rem!important;
}
/* For KOL Project Section */
.kol-project-submissiondate #litepie .absolute.z-50.top-full.sm\:mt-2\.5.left-0.right-auto, .absolute.z-50.top-full.sm\:mt-2\.5.left-auto.right-0{
    top: auto!important;
    bottom: 100%!important;
    margin-bottom: 20px;
    right: auto!important;
    left: 0px!important;
}
.litepie-datepicker.place-left::before{
    right: 5rem;
    top: auto!important;
    bottom: -16px!important;
    transform: translate(50%, -50%) rotate(134deg)!important;
}