.v-sidebar-menu {
    background-color: #ffffff!important;
    border-radius: 10px;
    margin: 20px;
    z-index: 2!important;
}
.v-sidebar-menu .vsm--badge_default, .v-sidebar-menu .vsm--toggle-btn {
    background: #EDEFF1!important;
    width: 24px!important;
    height: 24px!important;
    border-radius: 8px!important;
    position: absolute!important;
    right: 10px;
    top: 5.5%;
    z-index:100;
}
.v-sidebar-menu.vsm_collapsed .vsm--badge_default, .v-sidebar-menu.vsm_collapsed .vsm--toggle-btn {
    right: -14px;
    transform: rotate(180deg);
    top: 4.5%;
}
.v-sidebar-menu .vsm--title {
    color: #7C8AB5;
    font-size: 13px;
    margin-left: 12px;
}
.v-sidebar-menu.vsm_expanded .vsm--link {
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 11px 15px;
    line-height: normal;
    position: relative!important;
    transition: none!important;
}
.v-sidebar-menu.vsm_expanded .vsm--link:hover,
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open {
    background: #185DDC!important;
}
.v-sidebar-menu.vsm_expanded .vsm--link:hover .vsm--title,
.v-sidebar-menu.vsm_expanded .vsm--link_open .vsm--title,
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open .vsm--title {
    color: #fff;
}
.v-sidebar-menu .vsm--icon {
    width: auto!important;
    height: auto!important;
    padding: 0px!important;
}
.v-sidebar-menu .vsm--dropdown {
    background: none!important;
    padding: 0!important;
    padding-left: 28px!important;
    position: relative;
}
.v-sidebar-menu .vsm--dropdown::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 25px;
    width: 2px ;
    background: #D2D2D2;
}
.v-sidebar-menu img.vsm--badge {
    position: absolute;
    left: 21px;
    height: 21px;
    opacity:0;
    transition: none!important;
}
.v-sidebar-menu .vsm--link_hover .vsm--icon, .v-sidebar-menu .vsm--link_open .vsm--icon {
    transition: none!important;
}
.v-sidebar-menu .vsm--link_hover img.vsm--badge, 
.v-sidebar-menu .vsm--link_open img.vsm--badge,
.v-sidebar-menu.vsm_collapsed .vsm--link_active img.vsm--badge,
.v-sidebar-menu .vsm--link_level-1.vsm--link_active img.vsm--badge {
    z-index: 100;
    opacity:1;
}
.header-wrp {
    padding:0px;
    padding-bottom:10px;
    margin: 17px;
    margin-bottom:10px;
    border-bottom: 1px solid #F3F3F3;
    background: none!important;
    overflow: hidden;
}
.v-sidebar-menu.vsm_collapsed .vsm--link.vsm--link_level-2:hover {
    background: #F5F8FF;
}
.v-sidebar-menu.vsm_collapsed .vsm--link.vsm--link_level-2:hover .vsm--title {
    color: #1B2559!important;
}
.v-sidebar-menu .vsm--link.vsm--link_level-2.vsm--link_hover,
.v-sidebar-menu .vsm--link.vsm--link_level-2.vsm--link_active {
    background: #F5F8FF!important;
}
.v-sidebar-menu .vsm--link.vsm--link_level-2.vsm--link_hover .vsm--title,
.v-sidebar-menu .vsm--link.vsm--link_level-2.vsm--link_active .vsm--title {
    color: #1B2559!important;
}
.v-sidebar-menu.vsm_collapsed .vsm--link,
.v-sidebar-menu.vsm_expanded .vsm--link {
    position: relative!important;
}
.v-sidebar-menu .vsm--link.vsm--link_level-2 {
    line-height: normal;
}
.v-sidebar-menu .vsm--link.vsm--link_level-2 .vsm--title {
    margin-left: 0px;
}
/* .v-sidebar-menu.vsm_collapsed .vsm--mobile-bg {
    background-color: #4285f4; 
    background: #185DDC;
    top: auto!important;
    width: 30px!important;
    height: 27px!important;
    border-radius: 8px;
    transition: none!important;
} */
.v-sidebar-menu.vsm_collapsed .vsm--mobile-bg { 
display: none;
}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    padding: 5px!important;
    background:none!important;
}
.v-sidebar-menu .vsm--link_level-1.vsm--link_active .vsm--icon,
.v-sidebar-menu .vsm--link_level-1.vsm--link_hover .vsm--icon {
    background-color: #185DDC!important;
}
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_active {
    background-color: #185DDC!important;
}
.v-sidebar-menu.vsm_collapsed .vsm--title {
    color: #7C8AB5;
    font-size: 13px;
    margin-left: 12px;
    width: auto!important;
    left: 0px!important;
    position: inherit!important;
    top: 0px!important;
    display: contents;
}
.v-sidebar-menu.vsm_collapsed .vsm--link.vsm--link_level-1 .vsm--title span {
    display: none;
    position: fixed;
    left: 96px;
    z-index: 100;
    background: #1B2559;
    border-radius: 8px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    line-height: normal;
}
.v-sidebar-menu.vsm_collapsed .vsm--link.vsm--link_level-1.vsm--link_hover .vsm--title span {
    display: block;
}
.v-sidebar-menu.vsm_collapsed .vsm--arrow {
    display: none;
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
    box-shadow: none!important;
}
.v-sidebar-menu .vsm--link_level-1.vsm--link_active .vsm--title {
    color: #fff;;
}
.v-sidebar-menu.vsm_collapsed .vsm--child {
    background: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0px 10px 20px rgb(204 204 204 / 25%)!important;
    border-radius: 8px;
    overflow: inherit!important;
    height: auto!important;
}
.v-sidebar-menu.vsm_collapsed .vsm--dropdown {
    padding: 0px!important;
}
.v-sidebar-menu.vsm_collapsed .vsm--dropdown::before {
    display: none!important;
}
.v-sidebar-menu.vsm_collapsed .vsm--dropdown .vsm--title span {
    display: inline-block;
}
.v-sidebar-menu ul.vsm--menu {
    padding: 20px!important;
}
.v-sidebar-menu.vsm_collapsed ul.vsm--menu {
    padding: 0px!important;
}
.header-wrp img {
    height: auto!important;
    width: 191px;
    opacity: 1!important;
    max-width: none;
    margin: 0 auto;
}
.vsm_collapsed .header-wrp img {
    /* width: 148px; */
    width: 32px;
}
.footer-wrp {
    /* margin: -20px; */
    /* margin-top: 20px; */
    background: #F0F4FF;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 20px;
    border-top: 1px solid #F3F3F3;
    overflow: hidden;
}
.rightprodiv {
    white-space: nowrap;
}
.footer-wrp span {
    font-weight: bold;
    font-size: 15px;
    color: #595959;
}
.v-sidebar-menu.vsm_collapsed .footer-wrp {
    padding: 8px 14px;
}
.v-sidebar-menu.vsm_collapsed .footer-wrp .rightprodiv {
    display: none;
}
.v-sidebar-menu.vsm_collapsed .vsm--scroll-bar {
    right: 10px;
}

.v-sidebar-menu.vsm_collapsed + .right-wrp {
    width: calc(100vw - 102px);
}
.right-wrp {
    width: calc(100vw - 285px);
    padding: 20px 25px;
    transition: width .3s ease;
}
/* .dashboardwrp .right-wrp {
    margin-right: 304px;
    width: calc(100vw - 520px);
}
.dashboardwrp .v-sidebar-menu.vsm_collapsed + .right-wrp {
    width: calc(100vw - 404px);
} */


/* MY NEW CSS */
.v-sidebar-menu .vsm--link {
    height:40px;
    transition: none!important;
}

.v-sidebar-menu .vsm--title {
    margin-left:-10px;
    font-size:14px;
    font-weight:400!important;
}

.v-sidebar-menu .vsm--item {
    margin-bottom:10px;
}

.v-sidebar-menu .vsm--link_active {
    font-weight:400!important;
}

.v-sidebar-menu .vsm--link.vsm--link_level-2 .vsm--title {
    font-size:13px;
    font-weight:400!important;
}

.v-sidebar-menu.vsm_expanded .vsm--link {
    border-radius: 10px;
}

.vsm--link_level-2 {
    margin-bottom: 0px!important;
    height: 35px!important;
}
.v-sidebar-menu.vsm_expanded {
    margin-left:10px;
}
.font-w-normal{
    font-weight: normal!important;
}
.vsm--child {
    margin-top: 10px;
}

.header-wrp {
    margin-bottom:0px;
}
.vsm_collapsed .header-wrp {
    margin-bottom:10px;
}
.v-sidebar-menu .vsm--dropdown::before {
    width: 1px;
    opacity: 0.8;
}

.header-wrp img {
    max-width: 80%!important;
}

.vsm_collapsed .header-wrp img {
    width: 40px;
}
/* .v-sidebar-menu.vsm_collapsed .vsm--child {
    padding: 10px 25px 10px 0px!important;
} */
.v-sidebar-menu.vsm_collapsed .vsm--child {
    width: auto!important;
    padding: 15px;
}
.v-sidebar-menu.vsm_collapsed .vsm--child  ul::-webkit-scrollbar {
    width: 0.3em;
}

.v-sidebar-menu.vsm_collapsed .vsm--child  ul::-webkit-scrollbar-track {
    background-color: transparent;
}
   
.v-sidebar-menu.vsm_collapsed .vsm--child  ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}
.v-sidebar-menu.vsm_collapsed .vsm--child  ul {
    margin-left:0px!important;
    margin-left:0px!important;
    overflow: auto;
    max-height: 200px;  
}
.v-sidebar-menu.vsm_collapsed .vsm--child  ul li {
    margin-bottom:5px;
}
.v-sidebar-menu.vsm_collapsed .vsm--child  ul li:last-child {
    margin-bottom: 0px;
}
.v-sidebar-menu.vsm_collapsed .vsm--child  ul li a{
    display: inline-block;
    width: 100%;
    height: auto!important;
    border-radius: 10px!important;
}
.vsm_collapsed .footer-profile {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 65px;
    width: 200px;
    z-index: 21;
}
.w-spright {
    width: calc(100vw - 590px);
    transition: width .3s ease;
}
.v-sidebar-menu.vsm_collapsed + .right-wrp .w-spright {
    width: calc(100vw - 410px);
}
.font-18px{
    font-size: 18px;
}
.font-w-semibold{
    font-weight: 700!important;
}