.ffsdesign select{
height: 40px !important;
width: 150px!important;
}
.viewspk .ffstable input, .virtual-form .virtual-input input{
    padding: 5px 10px;
}
.viewspk  .ffstable td{
padding: 13px 13px 2px;
}
.viewspk  .ffstable{
  box-shadow:  0px 4px 30px rgba(104, 117, 130, 0.05)
}
.viewspk .ffstable td:last-child{
    padding: 13px 13px 2px!important;
}
.radius4{
  border-radius: 4px;
}
.font-normal{
  font-weight: normal;
}
.ffsselect {
  width: 40%;
}
.shadowboxaligment{
  box-shadow: none !important;
  height: 100%;
}
.viewspk .tabletreewrp tr.child2 {
  background: transparent!important;
}
.alignspk img:empty {display:none;}
.contractinfo .tabletreewrp tr.child3{
background-color: transparent!important;
}
.logitable td {
white-space: normal!important;
padding: 10px 13px!important;
}
.logitable th{
padding: 10px 0px;
}

.logimenu .searchbtn input{
  
  height: 40px!important;
}
.logimenu  button, .logimenu .exportlog{
  height: 39px!important;
}
.tablelogdrawer thead tr th{
  background-color: #ECEBFB;
  text-align: left;
  padding: 10px 13px;
 
}
.tablelogdrawer  tfoot{
  background-color: #F3F3F3;
}
.tablelogdrawer  td, .tablelogdrawer th, .tablelogdrawer td:last-child{
  height: 40px!important;
  padding: 10px 13px!important;
  font-size: 12px;

}
.tablelogdrawer td, .tablelogdrawer th{
  border: 1px solid #F3F3F3;
}
.tablelogdrawer  .color{
 color: #185DDC;
}
.tablelogdrawer  .tablebor{
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.tablelogdrawer  .box{
    border: 1px solid #F3F3F3;
}

.contracttable td:last-child{
padding: 8px 12px!important;
}
.selectedkol .vcp__header-title{
  border: 1px solid rgba(104, 159, 65, 0.6)!important;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2)!important;
}

.p-4.scroller.scroll-ffsalign.relative .litepie-datepicker.place-left::before{
  transform: translate(50%, -50%) rotate(-45deg)!important;
right: 3rem!important;
top: 0px!important;
bottom: auto!important;
left: auto !important;
}
.contractaccdion .vcp__header-title{
  border: 1px solid rgba(102, 102, 102, 0.24);
  box-shadow: none!important;
}
.actionhcp .fixed,
.actionhcp .actionhcpdetail  {
  display: none!important;
}
.hcpbord tr:first-child .actionhcp .fixed,
.hcpbord tr:first-child .actionhcp .actionhcpdetail {
  display: block!important;
}
.hcpaligned .plusbtn, .hcpaligned .filterspk{
  height: 36px!important;
}
.hcpaligned input:checked ~ .bg-white{
  background: #689F41!important;
    border: #689F41!important;
}
.hcpaligned  input:checked ~ .dot{
  background-color: white!important;
}
.spkpf .flex-shrink-0.w-8.h-8.cursor-pointer.relative.w-8.h-8, .spkpf .w-full.h-full.rounded-full.bg-profilegrey.text-fs12.flex.items-center.justify-center.text-white.cursor-pointer.tracking-normal{
  border-radius: 10px!important;
}
.spkpf  p.text-darkgrey.text-fs12{
  font-weight: 400;

}

.generalspk .litepie-datepicker.place-left::before{
  right: inherit !important;
  left: 2rem!important;
}
.generalspk  .litepie-datepicker.static {
  padding: 0.375rem 0.25rem!important;
}
.generalspk .relative.w-full.sm\:w-80{
  width: 350px!important;
}
.generalspk  .litepie-datepicker-date.disabled\:cursor-not-allowed{
  opacity: inherit!important;
  color: #718096!important;
}


.borlog{
  border-left: 1px solid #f3f3f3;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    display: flex;
}
.generalspk .openlogadd .litepie-datepicker-date.disabled\:cursor-not-allowed{
opacity: inherit!important;
} 
.generalspk  .litepie-datepicker.static{
  padding: 0.375rem 0.25rem!important;

}
.generalspk
.openlogadd 
  .relative.w-full.sm\:w-80{
    width: 335px!important;
}
.generalspk
.openlogadd 
.litepie-datepicker-date {
  width: 40px!important;
  height: 40px!important;
}
.generalspk
.openlogadd input::placeholder {
  font-size: 12px!important;
}
.spkpf .flex-shrink-0.w-8.h-8.cursor-pointer.relative.w-8.h-8, .spkpf .w-full.h-full.rounded-full.bg-profilegrey.text-fs12.flex.items-center.justify-center.text-white.cursor-pointer.tracking-normal{
  border-radius: 10px!important;
  align-items: center!important;
}
.p-3.w-1\/2.h-48.leading-6.mr-3.rounded.box .flex.items-center{
  align-items: start!important;
}
.hcpaligned input.border.border-companyinputbox.outline-none.focus\:border-companyinputbox.focus\:ring-0.focus\:ring-indigo-200.focus\:ring-opacity-0.shadow-none.pl-10.pr-8.block.w-full.text-fs12.rounded-radius8.py-2{
  height: 36px;
}
 .dateinput .litepie-datepicker-date{
  width: 40px!important;
  height: 40px!important;
}
.openlogadd .right-drawer {
	width: 40vw;
	right: -100vw;
} 
.commonform .ml-1.text-greytxt.text-fs13.font-normal{
  margin-left: 0px!important;
}
.spkalignkol button{
  padding: 5px 10px!important;
}
.contractaccdion .vcpg header.vcp__header>.vcp__header-icon{
  transform: rotate( 90deg)!important;
}
.contractaccdion .vcpg .vcp--expanded>header.vcp__header>.vcp__header-icon {
  transform: rotate( 270deg)!important;
}

.loginnertab table thead th{
background-color: #ECEBFB !important;
}
.loginnertab table td{
  font-size: 13px;
  padding: 5px 13px;
}
.loginnertab td:last-child{
  padding: 10px 13px!important;
}

.toggleround {
  width: 36px;
  height: 22.5px;
}
.togglerounddot {
  top: 3.5px;
  left: 4px;
  width: 16px;
  height: 16px;
}
input:checked ~ .dot.togglerounddot {
  left: 1px;
}
.firstcontract tbody tr:first-child td, .scndcontract tbody tr:nth-child(2) td, .thirdcontract tbody tr:last-child td {
  background-color: #e4e4e4!important;
  opacity: 0.35;
}
.firstcontract tbody tr:first-child td, .scndcontract tbody tr:nth-child(2) td, .thirdcontract tbody tr:last-child td  {
  background-color: #e4e4e4!important;
  opacity: 0.5;
}

